@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    
}
body {
    font-family: Lato, sans-serif;
    font-weight: 600;
    color: wheat;
    
}
#red-fire {
    background: url('../images/red-fire.jpg') no-repeat center fixed;
    background-size: cover;
}

/*headings and logo */

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: whitesmoke;
}

#logo {
    float: left;
    font-size: 290%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 100%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 150px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    
    border: none;
    text-align: center;
    
    
}

.activ {
    background: url('../images/fire-23.gif');
    color: whitesmoke;
    padding: 10px 20px;
    
}

/* heading and background pic */

#scary {

    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#scary-man {
    height: 900px;
    width: 100%;
    background: url('../images/scary-man.jpg') no-repeat center center;


/* animates zoom effect on lodaing page */
animation-name: hero-zoom;
animation-duration: 18s;
animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}
#song-words {
    font-size: 130%;
    font-family: Oswald, sans-sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 500px;
    
    background-color: rgba(99, 64, 64, 0.7);
    margin: 150px;
    position: fixed;
}

#sound {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px red;
}

img {
    display: inline-block;
    width: 200px;
    height: 300px;
    padding: 9px;
    text-align: center;
}

#posters {
    
    text-align: center;
}

/* footer */

footer {
    height: 150px;
}

.media-networks {
    text-align: center;
}

.media-networks >li {
    display: inline;
}

.media-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: white;

}

/* 1984-1989 */

#about-movie {
    box-sizing: border-box;
    
}
#about-movie {
   background-repeat: no repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   overflow: hidden;
}

#about-movie div p {

    background-color: wheat;
    color: black;
    width: 100%;
    height: 0;
    padding: 0;
    text-align: right;
    box-sizing: content-box;
} 

#about-movie:after {
    content: "";
    display: block;
    clear: both;
}


h5 {
    color: red;
    
}
 
/* 1991-2010 */

    #about-movie {
        background-repeat: no repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        overflow: hidden;

    }
       
   #about-movie div {

       box-sizing: content-box;
       background-color: wheat;
       color: black;
       width: 25%;
       border: 2px solid black;
       height: 200px;
       margin-left: 200px;
       padding: 100px;
       display: inline-block;
   }

   p {
       float: right;
       text-align: right;
       
   }
   .poster {
       float: left;
       height: 200px;
       width: 160px;
       image-rendering: pixelated;
   }

   h5 {
       color: red;

   }
/* register to tell a story */


.regform {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 280px;
}

.reg {
    color: black;
}
 

 .container {
    
    padding: 100px;
    background-color: antiquewhite; 
    color: black;
       
 }

 input[type=text],
 input[type=password] {
     width: 100%;
     padding: 15px;
     margin: 5px 0 22px 0;
     display: inline-block;
     border: none;
     background: #f1f1f1;
 }

 input[type=text]:focus,
 input[type=password]:focus {
     background-color: #ddd;
     outline: none;
 }

 
 hr {
     border: 1px solid #f1f1f1;
     margin-bottom: 10px;
 }

 
 .registerbtn {
     background-color: #04AA6D;
     color: white;
     padding: 16px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
     opacity: 0.9;
 }

 .registerbtn:hover {
     opacity: 1;
 }

 
 a {
     color: dodgerblue;
 }

 
 .signin {
     background-color: #f1f1f1;
     text-align: center;
 }
 
 /* media queries */

 /* For larger to media screens size from 1200px wide and down */
 @media screen and (max-width: 1200px) {

    * {
        box-sizing: border-box;
    }

     #logo {
         float: left;
         margin-left: 100px;
         margin-top: 0;
         line-height: 60px;
     }
      #menu {
         float: left;
         margin-left: 60px;
      }

     #abaout-movie {

         width: 65%;
         margin-left: 60px;
         margin-bottom: 40px;
         line-height: 40px;

     }

     #about-movie:after {
         content: "";
         display: table;
         clear: both;
     }

     #song-words {
         clear: left;
         float: left;
         margin: 100px;
         padding: 40px;

     }
    }
    /* For medium screen size from 900px wide and down */

    @media screen and (max-width: 900px) {
      *{
          box-sizing: border-box;
      }
     #menu {
         clear: left;
         float: left;
         margin-left: 60px;
         margin-bottom: 20px;
         line-height: 40px;
     }
      #abaout-movie {
        
        width: 50%;
        clear: left;
        float: left;
        margin-left: 60px;
        margin-bottom: 20px;
        line-height: 15px;
        
    } 
     #song-words {
         clear: left;
         float: left;
         margin: 100px;
         padding: 20px;

     } 
    
    }
     /*For small screen sizes 600px and down */
     @media screen and (max-width: 600px) {

        * {
            box-sizing: border-box;
        }
     
    #logo {
        margin-left: 60px;
        margin-bottom: 20px;
        line-height: 60px;
    }
    #menu {
        clear: left;
        float: left;
        margin-left: 20px;
        margin-bottom: 20px;
        line-height: 60px;
    }

    #abaout-movie {
        width: 100%;
        
    }

    
    #song-words {
        clear: left;
        float: left;
        margin-left: 90px;
        padding: 30px;

    }

    #mySound {
        float: left;
        display: center;
    }
}