@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    
    
}
body {
    font-family: Lato, sans-serif;
    color: antiquewhite;  
    
}
#red-fire {
    background: url('../images/red-fire.jpg') no-repeat fixed;
    background-size: cover;
}

/*headings and logo */

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: wheat;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 50px;
}

#mySound {

    display: inline;

}
/* navigation links */

#menu {
    font-size: 100%;
    letter-spacing: 4px;
}

#menu,
#logo {
    padding: 40px;
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    
    border: none;
    text-align: center;
    
    
}

.activ {
    background: url('../images/fire-23.gif');
    color: white;
    padding: 20px 30px;
    
}

/* heading and background pic */

#scary {

    height: 900px;
    width: 100%;
    overflow: hidden;
    position: inherit;
}

#scary-man {
    height: 900px;
    width: 100%;
    background: url('../images/scary-man.jpg') no-repeat center center;


/* animates zoom effect on lodaing page */
animation-name: hero-zoom;
animation-duration: 18s;
animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}
#song-words {
    font-size: 130%;
    font-family: Oswald, sans-sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 500px;
    
    background-color: rgba(99, 64, 64, 0.7);
    margin: 150px;
    position: fixed;
}

img {
    display: inline-block;
    width: 200px;
    height: 300px;
    padding: 9px;
    text-align: center;
}

#posters {
    
    text-align: center;
}

/* footer */

footer {
    height: 200px;
}

.media-networks {
    text-align: center;
}

.media-networks>li {
    display: inline;
}

.media-networks i {
    font-size: 250%;
    margin: 1%;
    padding: 5%;
    color: white;

}

/* 1984-1989 */

.movie {
    
    margin: 0;
    padding: 250px;
    background-color: inherit;
    
}

.movie div {

    border: 1px solid;
    background-color: khaki;
    margin: 10px;
    padding: 10px;
    color: black;
     
    }
    
.poster {
        float: left;
        height: 200px;
        width: 160px;
        image-rendering: pixelated;
    }

p {
        text-align: right;
        margin: 20px;
        padding: 10px;
    }

.box {
        display: block;
        width: 33,33%;
        padding: 10px;
    }

#movie:after {
    content: "";
    display: table;
    clear: both;
}

 
/* 1991-2010 */

   
  
   h5 {
       color: red;

   }   
/* register to tell a story */


.regform {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 280px;
}

.reg {
    color: black;
}
 

 .container {
    
    padding: 100px;
    background-color: antiquewhite; 
    color: black;
       
 }

 input[type=text],
 input[type=password] {
     width: 100%;
     padding: 15px;
     margin: 5px 0 22px 0;
     display: inline-block;
     border: none;
     background: #f1f1f1;
 }

 input[type=text]:focus,
 input[type=password]:focus {
     background-color: #ddd;
     outline: none;
 }

 
 hr {
     border: 1px solid #f1f1f1;
     margin-bottom: 10px;
 }

 
 .registerbtn {
     background-color: #04AA6D;
     color: white;
     padding: 16px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
     opacity: 0.9;
 }

 .registerbtn:hover {
     opacity: 1;
 }

 
 a {
     color: dodgerblue;
 }

 
 .signin {
     background-color: #f1f1f1;
     text-align: center;
 }
 
 /* media queries */

 /* For larger to media screens size from 1200px wide and down */
 @media screen and (max-width: 1200px) {

    
    }
    /* For medium screen size from 900px wide and down */

    @media screen and (max-width: 900px) {
    
    
    }
     /*For small screen sizes 600px and down */
     @media screen and (max-width: 600px) {

    
}